.keyboard {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.keyboard-key button {
  min-width: 42px;
  margin: 2px;
}

.keyboard-key button:disabled {
  color: darkgrey;
  border-color: darkgray;
}
