.letter-selection,
.letter-guess {
  min-height: 60px;
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--rack);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 10px;
}

.bad-guess {
  border: 5px solid darkred;
}

.letter-selection .tile {
  background-color: var(--rack);
  color: white;
}

.letter-guess .tile {
  background-color: var(--rack);
  color: white;
}

.tile {
  font-size: 2rem;
  width: 45px;
  height: auto;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
